@CHARSET "UTF-8";
/* 기본 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family: 'NanumGothic';
/* 	src: url(/resources/NanumFont_TTF_ALL/NanumGothic.ttf) format('truetype');	 */
}
#wrapper{margin-bottom:55px; padding:15px; min-height: 100%;}
body{padding-top:55px;}
*{
	 font-family: 'NanumGothic';
}
label{color: black;}
input, select, textarea:focus{outline: none;}
input, textarea{autoComplete:off;}
#form input, select, textarea{width: 100%; border: none;}
textarea {
     resize: none;
}
ul{padding:0px;}
input, select, button{border: 1px solid #cccccc; font-size: 12px;}

/* 테이블 */
.heading{background-color: #cccccc; text-align: center;}
td, th{border: 1px solid #bfbfbf; padding-top:5px; padding-bottom:5px; text-align: center; font-size: 12px; height: 30px;}

/*네비게이션 */
.navbar-brand{font-weight: bold;}
.dropdown-toggle{font-weight: bold;}
.navbar-right a{font-weight: bold;}

/*   푸터 */
  footer {
      padding: 32px;
  }
  footer a:link{text-decoration: none;}
